[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pandas = "*"

[packages]
pillow = "==6.0.0"
keras = "==2.2.4"
tensorflow = "*"
tqdm = "*"

[requires]
python_version = "3.7"
